skipidi{
    Border: 2px solid blue;
    border-width: 3px;
    display: flex;
    height: 30vh;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    justify-content: flex-start;
    background-color: red;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
}
uncle{
    border: 1px solid purple;
    border-width: 3px
    display;flex:
    height: 50px; 
    flex-direction: column;
    margin: 0px
    align-items: center;
    justify-content: flex-start
    background-color: red;
    color: blue
}